body, html {
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100vh;
    overflow-x: hidden;
    perspective: 2px;
    transform-style: preserve-3d; 
}

.secao {
    margin: 50px;
    position: relative;
    height: 100vh;
    min-height: 700px;
    transform-style: inherit;
}

.secao::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0; 
    right: 0;
    bottom: 0;
    z-index: -10;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transform: translate(-1px)scale(1.5);
}

.conteudo {
    position: absolute;
    top: 25%;
    width: 80%;
    padding: 20px ; 
    background-color: rgba(134, 29, 26, 0.9);
    color: rgb(221, 216, 216);
    font-size: 22px;
    text-align: justify;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 3px 3px 3px #790c05;
}
.conteudo1 {
    position: absolute;
    top: 25%;
    width: 80%;
    padding: 20px ; 
    background-color: rgba(66, 64, 64, 0.9);
    font-size: 22px;
    color: #f8f8f8;
    text-align: justify;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 3px 3px 3px #3d3724;
}
.conteudo2 {
    position: absolute;
    top: 25%;
    width: 80%;
    padding: 20px ; 
    background-color: rgba(36, 27, 36, 0.9);
    color: rgb(255, 255, 255);
    font-size: 22px;
    text-align: justify;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 3px 3px 3px #2f125e;
}
 
.fundo1::before{
    background-image: url(/img/1111.jpg);

}

.fundo2::before{
    background-image: url(/img/12.jpg);
}

.fundo3::before{
    background-image: url(/img/10.jpg);
}

.iri{
    padding-left: 400px;
    font-size: 30px;
    color: #fce0e0;
    
}

.thel{
    color: rgb(18, 185, 185);
}


